<div background="img/TopoBg.jpg">
    <div class="row">
      <div class="col">&nbsp;&nbsp;<img src="..\src\assets\common\images\loginHotSite\Painel.jpg" alt="Painel de controle" height="72" /></div>
      <div class="col">&nbsp;</div>
      <div class="col">&nbsp;</div>
    </div>
  </div>

  <form name="frm_login" action="login.asp" method="post">
  <div align="center">
    <div class="row">
      <div class="col"><span class="MainMenu">Login</span></div>
      <div class="col"><label>
        <input name="login" type="text" class="style6" />
      </label></div>
    </div>
    <div class="row">
      <div class="col"><span class="MainMenu">Senha</span></div>
      <div class="col">
        <input name="senha" type="password" class="style6" />
        </div>
    </div>
    <div class="row">
      <div class="col">&nbsp;</div>
      <div class="col"><label>
        <input name="enviar" type="submit" class="style6" id="enviar" value="Login" />
