<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
      <form class="form-horizontal form-horizontal-thin" [formGroup]="formInscricao">


        <div class="row">
          <div class="col-6">
            <fgv-input-number id="txtMes" name="txtMes" label="Mes:" formControlName="txtMes"
              [formGroup]="formInscricao" maxlength="2">
            </fgv-input-number>
          </div>
          <div class="col-6">
            <fgv-input-number id="txtAno" name="txtAno" label="Ano:" formControlName="txtAno"
              [formGroup]="formInscricao" maxlength="4">
            </fgv-input-number>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <fgv-input-select id="ddlProduto" name="ddlProduto" label="Produto:" formControlName="ddlProduto"
              [options]="produtos" [formGroup]="formInscricao" [options]="turmas" (change)="SelecionarProduto()">
            </fgv-input-select>
          </div>
          <div class="col-6">
            <fgv-input-select id="ddlCosif" name="ddlCosif" label="Cosif:" formControlName="ddlCosif"
              [options]="produtoCosif" [formGroup]="formInscricao" [options]="turmas">
            </fgv-input-select>
          </div>
        </div>


        <div class="row">
          <div class="col-4">
            <fgv-input-number id="txtValor" name="txtValor" label="Valor:" formControlName="txtValor" maxlength="6"
              [formGroup]="formInscricao">
            </fgv-input-number>
          </div>
        </div>


        <div class="row">
          <div class="col-4">
            <fgv-input-textarea id="txtDescricao" name="txtDescricao" label="Descrição:" formControlName="txtDescricao"
              maxlength="50" [formGroup]="formInscricao">
            </fgv-input-textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <fgv-button buttonText="Limpar" buttonClass="fgv-button-css btn" [buttonStyle]="buttonInscreverStyle"
              (onClick)="LimparOnClick()">
            </fgv-button>
            <fgv-button buttonText="Novo" buttonClass="fgv-button-css btn" [buttonStyle]="buttonInscreverStyle"
              (onClick)="NovoOnClick()">
            </fgv-button>
            <fgv-button buttonText="Incluir" buttonClass="fgv-button-css btn" [buttonStyle]="buttonInscreverStyle"
              (onClick)="SalvarOnClick()">
            </fgv-button>
          </div>
        </div>



      </form>





      <div class="row primeng-datatable-container">
        <div class="col-12">
          <p-table #dataTable [value]="primengTableHelper.records" [lazy]="true">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 70px" pSortableColumn="idInscricao">
                  Mês

                </th>
                <th style="width: 120px" pSortableColumn="situacao">
                  Ano

                </th>
                <th style="width: 60px" pSortableColumn="idOferta">
                  Código Produto

                </th>
                <th style="width: 160px" pSortableColumn="nomeInscrito">
                  Desc. Produto

                </th>
                <th style="width: 80px" pSortableColumn="timestamp">
                  Nr.Lançamento

                </th>

                <th style="width: 80px" pSortableColumn="timestamp">
                  Descrição

                </th>
                <th style="width: 80px" pSortableColumn="timestamp">
                  Valor

                </th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
              <tr>
                <td>{{record.daT_MES}}</td>
                <td>{{record.daT_ANO}}</td>
                <td>{{record.produtoCod}}</td>
                <td>{{record.produtoDesc}}</td>
                <td>{{record.numeroLancamento}}</td>
                <td>{{record.deS_DESCRICAO}}</td>
                <td>{{record.vaL_VALOR}}</td>
              </tr>
            </ng-template>
          </p-table>

        </div>
      </div>


    </div>
  </div>
</div>