 
    
<nav *ngIf="mostrarMenu" >
    <div class="nav-wrapper">
        <a routerLink="" class="brand-logo right">Rotas Ng2</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/login">Sair</a></li>
        <li routerLinkActive="active"><a routerLink="">Home</a></li>
        <li routerLinkActive="active"><a routerLink="../gerenciar-inscritos">Gerenciar Inscritos SEM</a></li>
        <li routerLinkActive="active"><a routerLink="gerenciar-inscritos" [queryParams]="{hotsite:1}">Gerenciar Inscritos</a></li>
        <li routerLinkActive="active"><a [routerLink]="['gerenciar-inscritos', idHotSite]">Gerenciar Inscritos</a></li>
        </ul>
    </div>
</nav>
<li routerLinkActive="active"><a routerLink="gerenciar-inscritos">Gerenciar Inscritos SEM</a></li>

<div class="container">
    <router-outlet></router-outlet>
</div>
