<!doctype html>
<html lang="en" dir="ltr">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <title>Corporativohotsite</title>
  <base href="/">

  <meta property="og:title" content="Corporativohotsite" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body *ngIf="!isLoading">
  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <form class="form-horizontal form-horizontal-thin" [formGroup]="formCadastro">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5">
                  <div class="text-center">
                    <img src="assets\common\images\loginHotSite\logofgvInCompany.jpg" alt="FGV In Company"
                      width="389" height="61" class="logo-default" />
                  </div>
                  <h3 class="appName mt-5">Redefinir Senha</h3>
                  <hr>
                  <div *ngIf="!tokenInvalido">
                    <div class="row">
                      <div class="form-group col-12">
                        <fgv-input-text id="email" name="email" label="E-mail" formControlName="email"
                          [formGroup]="formCadastro">
                        </fgv-input-text>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-12">
                        <fgv-input-password id="senha" name="senha" label="Senha" formControlName="senha"
                          [formGroup]="formCadastro">
                        </fgv-input-password>
                        <div
                          *ngIf="formCadastro.controls['senha'].invalid && (formCadastro.controls['senha'].dirty || formCadastro.controls['senha'].touched)">
                          <span class="form-control-feedback"
                            *ngIf="formCadastro.controls['senha'].errors.rangeLength">A senha deve conter entre 6 e 15
                            caracteres.</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group  col-12">
                        <fgv-input-password id="confirmacaoSenha" name="confirmacaoSenha" label="Confirmação Senha"
                          formControlName="confirmacaoSenha" [formGroup]="formCadastro">
                        </fgv-input-password>
                        <div
                          *ngIf="formCadastro.controls['confirmacaoSenha'].invalid && (formCadastro.controls['confirmacaoSenha'].dirty || formCadastro.controls['confirmacaoSenha'].touched)">
                          <span class="form-control-feedback"
                            *ngIf="formCadastro.controls['confirmacaoSenha'].errors.rangeLength">A senha deve conter
                            entre 6 e 15 caracteres.</span>
                          <span class="form-control-feedback"
                            *ngIf="formCadastro.controls['confirmacaoSenha'].errors.equalTo">As senhas não
                            conferem.</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button id="btnRedefinirSenha" class="btn btn-primary btn-block"
                          [disabled]="formCadastro.invalid" (click)="redefinirSenha()">Redefinir Senha</button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="tokenInvalido">
                    <div class="alert alert-warning" role="alert">
                      <h5 class="alert-heading">Ocorreu um problema na validação do token.</h5>
                      <hr>
                      <span class="mb-0">Token expirado! Favor solicitar o reenvio do e-mail de acesso.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>