.appName {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    display: block;
    /* float: left; */
    width: 100%;
    margin-left: 0px;
    padding-top: 12px;
    padding-bottom: 10px;
}


@media (max-width: 440px) {
    .logo {
        margin-top: 10px;
        padding-top: 50px;
    }

    .content {
        margin-top: 10px;
    }

    .content h3 {
        font-size: 22px;
    }

    .forget-password {
        display: inline-block;
        margin-top: 20px;
    }

    .login-options .social-icons {
        float: left;
        padding-top: 3px;
    }

    .checkbox {
        font-size: 13px;
    }

     .right {
        width: auto;
    }

    .copyright {
        font-size: 11px;
    }

    .sweet-alert h2 {
        font-size: 16px;
        line-height: 20px;
    }

    iframe[title="desafio reCAPTCHA"],
    iframe[title="reCAPTCHA challenge"] {
        position: fixed !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /*div[style*="z-index: 2000000000"] {
        position: fixed !important;
        background-color: gray !important;
    }*/
}